@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thia is my first azure demo application to make the things better</p>

<p>******************** I Love Azure********************</p>
